<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
                <LogAppender name="LogAppender" />
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%msg (%logger{36} %t %-5level)%n" />
    </Console>
    <!--<Console name="ConsoleErrors" target="SYSTEM_OUT">
      <PatternLayout pattern="ERROR: %msg (%logger{36} %t %-5level)%n" />
    </Console>-->
    <File name="file" fileName="${sys:user.home}/luwrain.log">
      <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
  </Appenders>

  <Loggers>

    <Root level="trace">
      <AppenderRef ref="file" />
      <AppenderRef ref="console" />
            <AppenderRef ref="LogAppender" />
    </Root>
    <!--<logger name="general" ><AppenderRef ref="console"/></logger>-->
    <!--<logger name="errors" level="ERROR"><AppenderRef ref="ConsoleErrors" /></logger>-->
    </Loggers>
</Configuration>
